html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h5 {
    margin: 0;
}

.table td {
    padding: 4px;
}

#navbar {
   height: 40px; 
}

.container-fluid.main {
    height: calc(100% - 40px - 2 * 8px - 4px);

    & .row {
        height: 100%;

        & .col {
            height: 100%;
        }
    }
}

.bit {
    width: 16px;
    height: 16px;
    float: left;
    font-size: 10px;
    padding: 0px !important;
}

.btn-watch {
    margin: 0;
    padding: 0;
}